<div class="card" style="width: 18rem;">
   
    <div class="card-body">
      <h5 class="card-title">Bienvenido!!</h5>
     </div>
    <ul class="list-group list-group-flush">    
        <li class="list-group-item"><br></li>    
    <a href="#" class="card-link"><li class="list-group-item">Gestionar Pedidos</li></a>
    <a href="#" class="card-link"><li class="list-group-item">Mi Lista de Direcciones</li></a>
    <a href="#" class="card-link"><li class="list-group-item">Mi Informacion Personal</li></a>
    </ul>
    <div class="card-body">
      <a [routerLink]="['../../Tienda/productos']"
       class="card-link">Ir a la tienda</a>
      <a [routerLink]="['../../Cliente/login']" class="card-link">Cerrar Sesion</a>
    </div>
  </div>